<!DOCTYPE html>

<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>這是 Page1</h1>

            <ul>
                {% for comment in comments %}
                <li>
                    {{ comment.name }}: {{ comment.content }} at {{ comment.createTime }}
                </li>
                {% endfor %}
            </ul>

            <form method="POST" action="/page1/">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" name="name" type="text" required>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" name="content" required></textarea>
                </div>
                <input class="btn btn-primary" type="submit">
            </form>
        </div>
    </body>
</html>